<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear cuenta</title>
  </head>
  <body>
    <h1>Crear cuenta</h1>
    <form method="POST" action="{{url_for('create_account')}}">
        <label for="name">Nombre del dueño de la cuenta</label>
        <input type="text" name="name" id="name" required/>
        <br/>
        <label for="initial_balance">Saldo inicial</label>
        <input type="number" step="0.01" name="initial_balance" id="initial_balance"/>
        <br/>
        <button type="submit">Crear cuenta</button>
    </form>
    <a href="{{url_for('index')}}">Volver al menú principal</a>
  </body>
</html>
